
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="di" >We one of bestest systems of ordering food at internet<br>
Our system is have been created in 2018 , we have actually place in cairo<br>
Our address is ....<br>
We have all kinds food that you want , sweet and sour<br>
Here you can create your account to easy for recive your order easely<br>
Enjoy for our System and our food and comming soon in our restaurante<br>

    </div>

<style>


    #di{
        font-style:italic;
        font-size:65px;
        color:#6A0427;



    }
</style>